
section {
  padding:3%;
}
.home-content {
  background-image: url('light.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color:white;
  padding:10%;
  text-align: center;
}
.home-content h3 {
  margin-bottom: 2%;
}
.social-media-container ul {
  list-style-type: none;
}
.social-media-container li {
  display: inline;
}
.social-media-container i {
  margin-right: 1%;
}
.fa-twitch{
  color:#6441a5;
}
.fa-github {
  color:black;
}
.profile-text a {
  border:blue solid 1px;
}
.profile-text p, li {
  margin-right: 50px;
  margin-bottom:25px;
  font-size: 2rem;
}
.profile-text h1{
  margin-bottom: 30px;
  text-align: center;
}
.profile-image {
  text-align: center;
}
.container-fluid{
  margin-bottom: 50px;
}
.container-fluid h1 {
  text-align: center;
  margin-bottom:30px;
}
.profile-image img {
  max-width:75%;
}
.project-1{
  /*width: 65%;*/
  /*height: 500px;*/
}

.footer {
  text-align: center;
}